R2_ENDPOINT=https://YOUR_ACCOUNT_ID.r2.cloudflarestorage.com
R2_BUCKET=YOUR_TEST_BUCKET
R2_ACCESS_KEY_ID=YOUR_NEW_ACCESS_KEY_ID
R2_SECRET_ACCESS_KEY=YOUR_NEW_SECRET_ACCESS_KEY
R2_IMAGE_KEY=effect-vfs-nfs-test/live-image
# NFS_ALLOWED_UID=501
# NFS_PORT=2049
# NFS_DEBUG_AUTH=1
