R2_ENDPOINT=https://YOUR_ACCOUNT_ID.r2.cloudflarestorage.com
R2_BUCKET=YOUR_TEST_BUCKET
R2_ACCESS_KEY_ID=YOUR_NEW_ACCESS_KEY_ID
R2_SECRET_ACCESS_KEY=YOUR_NEW_SECRET_ACCESS_KEY
R2_IMAGE_KEY=effect-vfs-nfs-test/live-image
# NFS_ALLOWED_UID=501
# NFS_PORT=2049
# NFS_BIND_ADDRESS=127.0.0.1
# NFS_ALLOWED_PEER=192.168.64.2
# NFS_FAULT_LOST_R2_REPLY_ONCE=1
# NFS_FAULT_LOST_HTTP_REPLY_ONCE=1
# NFS_FAULT_HTTP_SKIP_WRITES=1
